body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

.qr-container {
  background: white;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
}

.player-list {
  max-height: 240px;
  overflow-y: auto;
}

.app-container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: 
    linear-gradient(
      135deg, 
      #b68e21 0%, 
      #eda53a, 
      #eaa433 100%
    );  
}

.title_text {
  margin-top: 10px;
}

.hero-card {
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.hero-card button {
  border-radius: 15px;
}