body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

.qr-container {
    background: white;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
}

.player-list {
    max-height: 240px;
    overflow-y: auto;
}

.app-container {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
            linear-gradient(
                    135deg,
                    #b68e21 0%,
                    #eda53a,
                    #eaa433 100%
            );
}

.title_text {
    margin-top: 10px;
}

.hero-card {
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.hero-card button {
    border-radius: 15px;
}

/* Badges dos números das opções */
.option-badge {
    width: 50px;
    height: 50px;
    line-height: 50px;
    flex-shrink: 0;
}

/* Efeito nos cards das opções */
.option-card {
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease;
}

/* Caixa do Timer */
.timer-box {
    min-width: 130px;
}

/* Container que força o uso da tela do celular */
.player-question-container {
    min-height: calc(100vh - 120px);
}

/* Grid 2x2 estilo Kahoot */
.answer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 60vh; /* Ocupa 60% da altura da tela */
    width: 100%;
}

/* Botões interativos gigantes */
.btn-answer {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn-answer:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

/* Cores vibrantes dos 4 botões */
.btn-option-1 { background-color: #e21b3c !important; } /* Vermelho */
.btn-option-2 { background-color: #1368ce !important; } /* Azul */
.btn-option-3 { background-color: #ffa602 !important; } /* Amarelo */
.btn-option-4 { background-color: #26890c !important; } /* Verde */

/* Efeito dos Cards do Pódio */
.podium-card {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
}

.podium-base {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Customização da Scrollbar na Tabela de Classificação */
.table-responsive::-webkit-scrollbar {
    width: 6px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}